In [1]:
import pandas as pd

In [49]:
# https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-2018-zip-code-data-soi
income = pd.read_csv('input/18zpallnoagi.csv', 
                 header=0,
                 usecols=['ZIPCODE','A00100','N02650'])
income.columns = ['zipcode','agi_per_1000','returns_with_income']
income['average_income'] = income.agi_per_1000 * 1000 / income.returns_with_income

In [55]:
income[income.zipcode.isin([66614])].head()

      zipcode  agi_per_1000  returns_with_income  average_income
8399    66614     1095908.0              15640.0     70070.84399